*{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: rgb(254, 203,0);
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 700px;
}
.form-title{
    text-align: center;
}
.title{
    background: rgb(0,166,90);
    padding: 10px;
}
h2{
    color: white;
}
.p{
    padding: 10px;
}
.box{
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid black;
    margin-top: 20px;
    width: 930px;
    padding: 20px;
}
.box1{
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid black;
    margin-top: 20px;
    width: 930px;
    
    
}
svg{
    width: 15px;
}
span{
    color: red;
}
input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(37, 37, 37);
}

button{
    padding: 10px;
    width: 90px;
    background: #14a65f;
    border: none;
    border-radius: 4px;

}
button:hover{
    background: #359667;
    cursor: pointer;

}
@media (max-width:992px) {
    .box,.box1{
        width: 500px;
    }
}
@media (max-width:656px) {
    .box,.box1{
        width: 300px;
    }
}
